# dependencies
/node_modules

# next.js
/.next/
/out/
.netlify/

# capacitor
/android/
/ios/
.capacitor/
CapacitorConfig.json
*.apk
*.aab
*.ipa

# misc
.DS_Store
*.pem
.env*.local

# debug
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# cap build temp
/src/app/_api_cap_backup/
.cap-build-active

# cache
.cache/